.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-f2f2f2 {
    background-color: #f2f2f2;
}

.bg-f8f8f8 {
    background-color: #f2f2f2;
}

.bg-7FC3FF {
    background-color: #7FC3FF;
}

.color-black {
    color: #000;
}

.color-777777 {
    color: #777777;
}

.align-center {
    text-align: center;
}


/* <= 600px */
#main-pic {
    margin-top: -20px;
    overflow: hidden;
    height: 200px;
}

#main-pic img {
    margin-top: -110px;
    height: auto;
    max-width: 100%;
}

.live {
    margin-top: 30px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 3px 3px 3px #cccccc;
}

.live img {
    border-radius: 15px;
    box-shadow: 1px 3px 3px 3px #cccccc;
    height: auto;
    width: 90%;
    margin-top: 7.5%;
    margin-left: 4%;
    left: 0;
}

.live p {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-size: 18px;
}

.live button {
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #cccccc;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    width: 30%;
    border: none;
    color: #fff;
}
.live .option1 button {
    background-color: #7FC3FF;
}
.live .option2 button {
    background-color: #FF7F00;
}
.live .option3 button {
    background-color: #30D5C8;
}
.live .option4 button {
    background-color: #C0C0C0;
}
.live .option5 button {
    background-color: #FFC0CB;
}

/* >= 600px*/
@media (min-width: 600px) { 
    #main-pic {
        margin-top: -20px;
        overflow: hidden;
        height: 250px;
    }
    #main-pic img {
        margin-top: -130px;
        height: auto;
        max-width: 100%;
    }
    .live {
        margin-top: 30px;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
    }
    .live img {
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        height: auto;
        width: 90%;
        margin-top: 7.5%;
        margin-left: 4%;
        left: 0;
    }
    .live p {
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
        font-size: 18px;
    }
    .live button {
        border-radius: 15px;
        box-shadow: 1px 1px 1px 1px #cccccc;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 2%;
        background-color: #7FC3FF;
        width: 30%;
        border: none;
        color: #fff;
    }
}

/* >= 768px*/
@media (min-width: 768px) {
    #mynav {
        float: right;
    }
    #main-pic {
        margin-top: -20px;
        overflow: hidden;
        height: 300px;
    }
    #main-pic img {
        margin-top: -200px;
        height: auto;
        max-width: 100%;
    }
    .live {
        margin-top: 30px;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        vertical-align:middle;
        display: flex;
    }
    .live-reverse {
        flex-direction: row-reverse;
    }
    .live img {
        display: block;
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        height: auto;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 0;
    }
    .live .options {
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .live .option1 {
        margin-left: 10px;
    }
    .live .option2 {
        margin-right: 10px;
    }
    .live .option3 {
        margin-left: 10px;
    }
    .live .option4 {
        margin-right: 10px;
    }
    .live .option5 {
        margin-left: 10px;
    }
    .live .options p {
        display: block;
        margin-left: 10px;
        top: 0;
        padding: 0;
    }
    .live .options button {
        margin-bottom: 0px;
    }
}

/* >= 1000px*/
@media (min-width: 1000px) {
    #main-pic {
        margin-top: -20px;
        overflow: hidden;
        height: 350px;
    }
    #main-pic img {
        margin-top: -270px;
        height: auto;
        max-width: 200%;
    }
    .live {
        margin-top: 30px;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
    }
    .live-reverse {
        flex-direction: row-reverse;
    }
    .live img {
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        height: auto;
        width: 50%;
        margin-top: 7.5%;
    }
    .live .options {
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .live .option1 {
        margin-left: 10px;
    }
    .live .option2 {
        margin-right: 10px;
    }
    .live .option3 {
        margin-left: 10px;
    }
    .live .option4 {
        margin-right: 10px;
    }
    .live .option5 {
        margin-left: 10px;
    }
    .live .options p {
        display: block;
        margin-left: 10px;
        font-size: 20px;
        margin-bottom: 110px;
        margin-top: -10px;
    }
    .live .options button {
        margin-bottom: 0px;
    }
}

/* >= 1200px*/
@media (min-width: 1200px) {
    #main-pic {
        margin-top: -20px;
        overflow: hidden;
        height: 400px;
    }
    #main-pic img {
        margin-top: -300px;
        height: auto;
        max-width: 200%;
    }
    /* Live */
    .live {
        margin-top: 30px;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        display: flex;
    }
    .live-reverse {
        flex-direction: row-reverse;
    }
    .live img {
        border-radius: 15px;
        box-shadow: 1px 3px 3px 3px #cccccc;
        height: auto;
        width: 50%;
        margin-top: 7.5%;
    }
    .live .options {
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .live .option1 {
        margin-left: 10px;
    }
    .live .option2 {
        margin-right: 10px;
    }
    .live .option3 {
        margin-left: 10px;
    }
    .live .option4 {
        margin-right: 10px;
    }
    .live .option5 {
        margin-left: 10px;
    }
    .live .options p {
        display: block;
        margin-left: 10px;
        margin-bottom: 140px;
        font-size: 24px;
        margin-top: -10px;
    }
    .live .options button {
        margin-bottom: 0px;
    }
}

.nav-img {
    margin-left: 20px;
}



